/* BODY ---------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D1D1C;
    color: whitesmoke; 
    font-family: Montserrat Medium;
}
/* ---------------------------------------------------------------------------------------------------------- */


/* HEADER ---------------------------------------------------------------------------------------------------- */
header {
    padding: 20px;
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    gap: 1250px;
}
/* ---------------------------------------------------------------------------------------------------- */

#li{
    list-style: none;
}

a{
   font-size: 25px;
}

/* MAIN ---------------------------------------------------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
h1 {
    margin-left: 20px;
}

/*  */
.cartazes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 2rem;
}

.filmes {
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);


    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.filmes:hover{
    transform: scale(1.1);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
  }

button {
    padding: 10px;
    background-color: #FF8FCD;
    color: black;
    border: 0;
    border-radius: 10px;
    margin: 0 auto; 
    display: block;
}


/* ---------------------------------------------------------------------------------------------------- */

/* FOOTER ---------------------------------------------------------------------------------------------------- */
footer {
    background-color:  black;
    color:  #FF8FCD;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-top: 5rem;
}
